header{
	color: #943d4b;
	background-color: #73d298;
	text-align: center;
	border-radius: 25px;
	margin-bottom: 10px;
}

header a{
	color: #943d4b
}

h1{
	text-align: center;
	color: #943d4b;
}

.main-section{
	background-color: #73d298;
	height: auto;
	padding: 20px;
	text-align: center;
	color: white;
	padding-top: 50px;
	padding-bottom: 50px;
	border-radius: 25px;
}

a{
	color: white;
	font-size: 20px;
	font-family: "Helvetica";
	text-decoration: none;
}

header a{
    font-size: 70px;
}

a:hover{
	color: #943d4b;
}

.main-section a{
	border-style: solid;
	border-color: #943d4b;
	border-radius: 25px;
	padding: 10px;
}

html{
	border-radius: 25px;
}